body {
    margin: 0px;
    padding: 0px;
    color: rgb(0, 34, 78);
}

.content {
    padding: 20px;
    margin-top: 0px;
    padding-top: 0px;
}

.inner-content {
    box-shadow: 0px 0px 3px black;
    border-radius: 15px;
    padding: 10px;
    margin-top: 15px;
    max-width: 550px;
}

.app-navigation-bar {
    width:100%;
    background-color: white;
    height: 40px;
    margin: 0px;
    padding: 5px;
    margin-bottom: 0px;
    border-bottom: 2px solid rgb(0, 34, 78);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.app-navigation-bar div {
    margin-right: 15px;
    padding: 5px;
}

.app-navigation-bar a {
    color: rgb(0, 34, 78);
    text-decoration: none;
}

@media(min-width: 600px) {
    .app-navigation-bar a {
        margin-right: 15px;
    }
}

.nav-main-link {
    font-size: 20pt;
    margin-left: 15px;
}

.form-link {
    font-size: larger;
    text-decoration: none;
    color: rgb(0, 34, 78);
    font-style: italic;
}

.request-form {
    margin-top: 0px;
    display: inline;
}

.error-zone {
    margin-top: 10px;
    color: red;
    font-weight: bold;
}

.machine-container {
    padding-bottom: 10px;
    border-bottom: 1px double black;
}

.machine-link {
    color:rgb(0, 34, 78);
}

/* form inputs for the new_machine/new_request page */
div.wrap {
    width: 350px;
    position: relative;
    top: -30px;
}

@media(max-width: 600px) {
    div.wrap {
        width: 100%;
    }
}

.form-control {
    position: relative;
    margin: 50px 0 10px 0;
}

.request-text-label  {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
    margin: 10px;
    padding: 0 10px;
    -webkit-transition: top .2s ease-in-out, 
                        font-size .2s ease-in-out;
    transition: top .2s ease-in-out, 
                font-size .2s ease-in-out;

    color: rgba(50, 50, 50, 0.75);
}
  
.active {
    top: -35px;
    font-size: 20px;
}
  
input[type=text], input[type=password] {
    width: 80%;
    padding: 20px;
    border: 1px solid black;
    font-size: 20px;
} 
  
input[type=text]:focus {
    outline: none;
}

.image-form-control {
    display: flex;
    flex-direction: column;
}

.image-form-control * {
    padding: 10px;
}

.submit-request {
    margin-left: 40%;
    height: 65px;
    width: 100px;
    border-radius: 15px;
    font-size: larger;
    color: black;
    cursor: pointer;
}

.submit-request:hover {
    font-weight: bold;
    box-shadow: 1px 1px 3px black;
    background-color: rgba(50, 50, 50, 0.75);
    color: white;
}

@media(max-width: 512px) {
    .nav-main-link {
        font-size: large;
    }

    .app-navigation-bar div {
        padding: 0px;
    }

    .app-navigation-bar a {
        width: 95px;
    }
}