{% extends 'base.html' %}

{% block description %}Bringing people and snacks together{% endblock %}

{% block header %}
{% endblock %}

{% block title %}About Vending Visibility{% endblock %}

{% block content %}
<h1>About</h1>
<div class="inner-content">
    It's really great! Big facts.
</div>
{% endblock %}