<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <meta
      name="description"
      content="{% block description %}{% endblock %}"
    />
    <link rel="icon" href="{{ url_for('static', filename='logoSmol.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block links %}{% endblock %}
  </head>
  <body>
    <nav class="app-navigation-bar">
      <a href="{{ url_for('home') }}" class="nav-main-link">
        Vending Visibility
      </a>

      <div>
        {% if has_token == True %}
          <a href="{{ url_for('machines') }}" class="nav-link">My Machines</a>
          <a href="{{ url_for('new_machine') }}" class="nav-link">New Machine</a>
          <a href="{{ url_for('signout') }}" class="nav-link">Sign Out</a>
        {% else %}
          <a href="{{ url_for('signup') }}" class="nav-link">Sign Up</a>
          <a href="{{ url_for('login') }}" class="nav-link">Login</a>
        {% endif %}
      </div>
    </nav>
    <section class="content">
      {% block header %}{% endblock %}

      {% block content %}{% endblock %}
    </section>
  </body>
</html>