{% extends 'base.html' %}

{% block description %}Report Issue{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="inner-content">
    <h1>{% block title %}Please let us know what the issue is at {{ location }}!{% endblock %}</h1>
    <a href="{{ url_for('new_request', id=id) }}" class="form-link">Click here to request a new item!</a>
    <div class="error-zone">{{ error }}</div>
    <form method="post" enctype=multipart/form-data class="request-form">
        <div class="wrap">
            <div class="form-control">
                <input name="request-text" type="text" class="request-input-text request-input"/>
                <label for="request-text" class="request-text-label">Issue</label>
            </div>
        
            <!-- <div class="image-form-control">
                <label for="request-image" class="request-image-label">Include a picture, if you'd like:</label>
                <input name="request-image" type="file" class="request-input"/>
            </div> -->
        </div>
    
        <input type="hidden" value={{id}} />
    
        <button class="submit-request" type="submit">Submit</button>
    </form>
</div>

<script>
    // <!--
    const inputs = document.getElementsByClassName('request-input-text');

    for (var i = 0; i < inputs.length; i++) {
        inputs[i].addEventListener('focusin', (event) => {
            let label = event.target.parentNode.childNodes[3];
            label.className = 'request-text-label active';
        });

        inputs[i].addEventListener('focusout', (event) => {
            if (!event.target.value) {
                let label = event.target.parentNode.childNodes[3];
                label.className = 'request-text-label';
            }
        });
    }
</script>
{% endblock %}