{% extends 'base.html' %}

{% block description %}Bringing people and snacks together{% endblock %}

{% block header %}
{% endblock %}

{% block title %}Login - Vending Visibility{% endblock %}

{% block content %}

<h2>Welcome Back!</h2>
<form method="post" enctype=multipart/form-data class="inner-content">
    <div class="error-zone">{{ error }}</div>
    <div class="wrap">
        <div class="form-control">
            <input name="email" type="text" class="request-input-text request-input"/>
            <label for="email" class="request-text-label">Email</label>
        </div>
    
        <div class="form-control">
            <input name="password" type="password" class="request-input-text request-input"/>
            <label for="password" class="request-text-label">Password</label>
        </div>
    </div>

    <button class="submit-request" type="submit">Submit</button>
</form>

<script>
    const inputs = document.getElementsByClassName('request-input-text');

    for (var i = 0; i < inputs.length; i++) {
        inputs[i].addEventListener('focusin', (event) => {
            let label = event.target.parentNode.childNodes[3];
            label.className = 'request-text-label active';
        });

        inputs[i].addEventListener('focusout', (event) => {
            if (!event.target.value) {
                let label = event.target.parentNode.childNodes[3];
                label.className = 'request-text-label';
            }
        });
    }
</script>
{% endblock %}