{% extends 'base.html' %}

{% block description %}Thanks!{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<h2>{% block title %}Thank you!{% endblock %}</h2>
<h4>{{ location }}</h4>
<img src="https://chart.googleapis.com/chart?cht=qr&chl={{ url_for('new_request', id=id, _external=true) }}&chs=350x350" alt="QR code for your location" />
{% endblock %}