{% extends 'base.html' %}

{% block description %}Thanks!{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<h1>{{ location }}</h1>
<div class="inner-content">
    <h2>Requests</h2>
    <ul>
        {% if requests is defined and requests[0] is defined %}
            {% for request in requests %}
                <li>{{ request.created_at.strftime('%b. %d, %Y') }}: {{ request.request }}</li>
            {% endfor %}
        {% else %}
            <li>No requests have been made at this time</li>
        {% endif %}
    </ul>
</div>

<div class="inner-content">
    <h2>Issues</h2>
    <ul>
        {% if issues is defined and issues[0] is defined %}
            {% for issue in issues %}
                <li>{{ issue.created_at.strftime('%b. %d, %Y') }}: {{ issue.issue }}</li>
            {% endfor %}
        {% else %}
            <li>No issues reported at this time</li>
        {% endif %}
    </ul>
</div>

<div class="inner-content">
    <h2>QR Code for new requests:</h2>
    <div>
        <button id="print" class="print-btn btn">Click Here to print QR Code</button>
    </div>
    <img id="print-image-element" src="https://chart.googleapis.com/chart?cht=qr&chl={{ url_for('new_request', id=id, _external=true) }}&chs=350x350" alt="QR code for your location" />
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Query the element
        const printBtn = document.getElementById('print');

        printBtn.addEventListener('click', function() {
            // Create a fake iframe
            const iframe = document.createElement('iframe');

            // Make it hidden
            iframe.style.height = 0;
            iframe.style.visibility = 'hidden';
            iframe.style.width = 0;

            // Set the iframe's source
            iframe.setAttribute('srcdoc', '<html><body></body></html>');

            document.body.appendChild(iframe);

            iframe.contentWindow.addEventListener('afterprint', function() {
                iframe.parentNode.removeChild(iframe);
            });

            iframe.addEventListener('load', function() {
                // Clone the image
                const image = document.getElementById('print-image-element').cloneNode();
                image.style.maxWidth = '100%';

                // Append the image to the iframe's body
                const body = iframe.contentDocument.body;
                body.style.textAlign = 'center';
                body.appendChild(image);

                image.addEventListener('load', function() {
                    // Invoke the print when the image is ready
                    iframe.contentWindow.print();
                });
            });
        });
    });
    </script>
{% endblock %}