{% extends 'base.html' %}

{% block description %}Bringing people and snacks together{% endblock %}

{% block header %}
{% endblock %}

{% block title %}My Machines - Vending Visibility{% endblock %}

{% block content %}
<h1>Machines</h1>

    {% for machine in machines %}
    <div class="machine-container inner-content">
        <h3><a class="machine-link" href="{{url_for('machine', id=machine.id)}}">{{machine.location}}</a></h3>
        <ul>
            <li>{{ machine.extra_info }}</li>
            <li>Online since: {{ machine.created_at.strftime('%b. %d, %Y') }}</li>
        </ul>
    </div>
    {% endfor %}

{% endblock %}