{% extends 'base.html' %}

{% block description %}Bringing people and snacks together{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<h3>{% block title %}Just let us know your location's name and any extra info you would like to show customers.{% endblock %}</h3>
<form method="post" enctype=multipart/form-data class="inner-content">
    <div class="error-zone">{{ error }}</div>
    <div class="wrap">
        <div class="form-control">
            <input name="location" type="text" class="request-input-text request-input"/>
            <label for="location" class="request-text-label">Location's Name</label>
        </div>
    
        <div class="form-control">
            <input name="extra_info" type="text" class="request-input-text request-input"/>
            <label for="extra_info" class="request-text-label">Extra Info</label>
        </div>
    </div>

    <input type="hidden" value={{id}} />

    <button class="submit-request" type="submit">Submit</button>
</form>

<script>
    // <!--
    const inputs = document.getElementsByClassName('request-input-text');
    const labels = document.getElementsByClassName('request-text-label');

    for (var i = 0; i < inputs.length; i++) {
        inputs[i].addEventListener('focusin', (event) => {
            let label = event.target.parentNode.childNodes[3];
            label.className = 'request-text-label active';
        });

        inputs[i].addEventListener('focusout', (event) => {
            if (!event.target.value) {
                let label = event.target.parentNode.childNodes[3];
                label.className = 'request-text-label';
            }
        });
    }

    for (var i = 0; i < labels.length; i++) {
        labels[i].addEventListener('click', (event) => {
            let label = event.target;
            label.className = 'request-text-label active';
        });
    }
</script>
{% endblock %}