{% extends 'base.html' %}

{% block description %}Thanks!{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<h1>{% block title %}Thank you!{% endblock %}</h1>
<div class="inner-content">
    <h4>{{ message }}</h4>
</div>
{% endblock %}